@charset "utf-8";


/***********************************************************/
/* default */
body {color:#111; min-width:320px; font-family:'Noto Sans KR', "Dotum","arial","sans-serif"; font-size: 1.6rem; margin:0px auto; padding:0px;  word-break: break-all; word-wrap: break-word; word-break: keep-all; }
h1,h2,h3,h4,h5,h6 {font-weight:normal;} 
dl, ul, ol, li {list-style:none;}

strong {font-weight:bold;}
html {box-sizing:border-box; font-size: 62.5%; }
*, *:before, *:after {box-sizing: inherit;}
img { box-sizing:content-box; border:0; max-width:100%; vertical-align:top;}




/* Layout */
#wrap { width:100%; margin:0 auto; padding:0;}
#main_container { width:100%; height:auto; padding:0px; margin:0px auto;}

.cd-section h1, 
.cd-section h2 {  width: 90%;  margin: 0 auto;  text-transform: uppercase;  font-size: 2.4rem;  line-height: 1.4;  font-weight:bold;  text-shadow: 3px 3px 10px #555;}
.cd-section h1 span, 
.cd-section h2 span {  color: #fff;  font-size: 1.4rem;  display:block;}
.cd-section p {  margin: 1em auto 0;  line-height: 1.6;  width: 90%;  max-width: 680px;  color: red;}

#section1 {  background:url('../img/main_bg.jpg') no-repeat center 40%;   }
#section2 {  background: #3a2c41;  }
#section3 {  background: #70557e;  }




/***************** 1320이하 ******************************************/
@media all and (max-width:1320px){







}

/***************** 1040이하(태블릿) ******************************************/
@media all and (max-width:1040px){




}





/***************** 800이하 ******************************************/
@media all and (max-width:800px){




}


/***************** 640이하 ******************************************/
@media all and (max-width:640px){




}


/****************480이하******************************************/
@media all and (max-width:480px){



}


