@charset "utf-8"; 
/***********************************************************/
/* default */
body,select,input,textarea,a { font-family:'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Gulim, '굴림', sans-serif; font-size:16px;  letter-spacing:-1.7px; color:#000; line-height:160%; font-weight: 500; } 
 
body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table,  ul, dd, dt, li, 
tbody, td, tfoot, th, thead, tr, button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite, code, dfn,
em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset, input,textarea {margin:0px; padding:0px;}
select {padding:0 1px;}
em {font-style:normal}
p, td, li, dd, dt, .block, th {/*word-break:keep-all;*/ /*word-wrap:break-word;*/} 
th, td {word-break:break-all;}
img, fieldset {border:0px;}
img {vertical-align:top;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;} 
dl, ul, ol, li {list-style:none;}
legend, .hide {position:absolute; width: 0; line-height:0; height: 0; font-size: 0; top:0; left:-10000px; overflow:hidden;}
.hidden {position:absolute; left:-10000px;}

caption {width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; position:static;}
select { border:1px solid #d5d5d5;}
a {color: #111; text-decoration:none; cursor: pointer; }
a:hover,a:active,a:focus {color: #000; text-decoration:none; }
iframe {border:none; overflow:hidden;}
strong {font-weight:bold;}
/* * {box-sizing:border-box;} */
html {box-sizing:border-box; /*-moz-box-sizing:border-box; -webkit-box-sizing:border-box;*/ }
*, *:before, *:after {box-sizing: inherit;}
img { box-sizing:content-box; /*-moz-box-sizing:content-box;-webkit-box-sizing:content-box;*/}
img {border:0; max-width:100%;}

article, aside, canvas, video, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block;}

.clearfix {width:100%;}
.clearfix:after {content:"";display:block;visibility:hidden;clear:both;}

.clearfix2:after{display:block; visibility:hidden;clear:both;content:".";overflow:hidden;width:0;height:0;font-size:0;line-height:0;text-indent:-9999px;}
.clearfix2{display:block;}


/* 숨김텍스트처리 */
.skip { position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden;}




/*서식*/
form { margin: 0; padding: 0; }
input, select, textarea, button {} 

input.image {  vertical-align:top; border:0px; }

input[type=text], 
input[type=password], 
input[type=number],
input[type=file]{border:1px solid #c1c1c1; height:35px; line-height:35px; padding:0px 0px; /*border-radius:3px;*/}
input[type=checkbox], 
input[type=radio]{vertical-align:middle;padding:0; margin:0 5px 0 0; border:0px solid #c1c1c1;}
input[type=text],
input[type=password]{ padding:0px 10px; }
textarea{padding:10px; border:1px solid #c1c1c1; /*border-radius:3px;*/ }
select{vertical-align:middle; border:1px solid #c1c1c1; height:35px; padding-left:5px; line-height:35px; /*border-radius:3px;*/ }

input:hover, 
input:focus, 
select:hover, 
select:focus, 
textarea:hover, 
textarea:focus { border: 1px solid #88898d;}
input[type=file]:hover, 
input[type=file]:focus { border: 0px solid #88898d;}
input[type=image]:hover, 
input[type=image]:focus { border: 0px solid #88898d;}
/*a[target="_blank"] { background:url(/gmi/cni/new_ico.png) no-repeat right 45%; padding-right:20px;  }*/

input[type=file] { border:0px; color:#fff; }

.cl,
.tab, #container,#contents-middle-tab, .global-movement,.present-condition, .present-condition div 
.banner-area .sum-area .sum-slide-area{/**zoom:1;*/}
.cl:after, .tab:after,  #container:after, #contents-middle-tab:after, .global-movement:after,
.present-condition:after, .present-condition div:after,
.banner-area .sum-area .sum-slide-area:after{clear:both; content:""; display:block;}
.hand,button, .over{cursor:pointer;}
.block{display:block !important;}

.vtop {vertical-align:top; }
.bnone {border:none !important;;}


/*문단*/
.fl{float:left;}
.fr{float:right;}

.text_r {text-align:right;}
.text_l {text-align:left;}
	
	
h4 {display:block; color:#34276a; margin:50px 0 20px 0; font-size:140%; font-weight:600; padding:0 0 1px 0px; text-align:left; letter-spacing:-1.7px; clear:both; line-height:30px;}
h4 span {margin-left:5px; font-size:70%;}
h4:first-child { margin-top:0px; }
h4 span span {margin-left:0; font-size:100%;}
h5 { background:url('/gmi/cni/h5_bulit.png') no-repeat left center; padding-left:31px; margin:0 0 20px 0; font-size:125%; font-weight:600; text-align:left; letter-spacing:-1.5px; clear:both;}
h6 {font-size:110%; font-weight:600; margin:0px 0px 10px 0px; padding-left:10px; color:#000;}
 

 

/* 목록 */ 
ul.list_type1 { list-style: none; margin:10px 0px 30px 0px; padding:0 0 0 10px; text-align: left;  }
ul.list_type1 li { margin:0px 0 2px 0; padding: 0 0 0 12px; background:url('/gmi/cni/blt01.gif') no-repeat left 14px; word-break:keep-all; line-height:32px; }
ul.list_type1 li span {  color:#000; }
ul.list_type1 li.none { background:none; padding:0px;}
ul.list_type1 li ul { margin:5px 0 5px 0; padding:0px; list-style:none; }
ul.list_type1 li ul li { margin:2px 0; padding: 0 0 0 14px;  background:url('/gmi/cni/blt03.gif') no-repeat left 13px; color:#444; font-size:95%;  line-height:28px; }
ul.list_type1 li ul li.none { background:none; padding:0px;}
ul.list_type1 li ul li span {font-weight:500; color:#000;}
ul.list_type1 li img  { vertical-align:middle; }



ol.list_num {  margin:0 0 20px 20px; padding:0 0 0 20px; text-align: left;  }
ol.list_num li { margin:2px 0px 10px 0px; padding:0px; text-indent:0px; list-style:decimal-leading-zero; letter-spacing:0px;  }
ol.list_num li span {font-weight:600; color:#7a4b35;}
ol.list_num li ol {  margin:10px 0 10px 10px; padding:0 0 0 10px; text-align: left; list-style-type:decimal-leading-zero;  }
ol.list_num li ol li { margin:2px 0; padding:0px; }
ol.list_num li ul {  margin:0px 0 10px 0px; padding:0px; text-align: left;  }
ol.list_num li ul li { margin:2px 0; padding:0px; list-style:none; } 



/*color style */
.blue {color: #406ac6 !important;}
.red { color:#ec2323 !important;}
.orange {color:#ff5d1d !important;}
.green {color:#1d7c0a !important;}
.point {color:#5079a5 !important;}
.yellow { background:#FFFFDC !important;}

.font90 { font-size:90% !important; color:#777 !important;}
.font110 { font-size:110% !important;}
.font120 { font-size:120% !important;}
.font200 { font-size:200% !important;}


/*공간*/
.w10 {width:10% !important;}
.w25 {width:25% !important;}
.w27 {width:27% !important;}
.w30 {width:30% !important;}
.w35 {width:35% !important;}
.w40 {width:40% !important;}
.w45 {width:45% !important;}
.w48 {width:48% !important;}
.w50 {width:50% !important;}
.w60  {width:60% !important;}
.w70  {width:70% !important;}
.w80  {width:80% !important;}
.w85  {width:85% !important;}
.w90  {width:90% !important;}
.w100 {width:100% !important;}


.w40p  {width:40px !important;}
.w50p  {width:50px !important;}
.w60p  {width:60px !important;}
.w63p  {width:63px !important;}
.w70p  {width:70px !important;}
.w75p  {width:75px !important;}
.w150p  {width:150px !important;}


.pad_-t3 {padding-top:-10px !important;}
.pad_t5 {padding-top:5px !important;}
.pad_t10 {padding-top:10px !important;}
.pad_t20 {padding-top:20px !important;}
.pad_t25 {padding-top:25px !important;}
.pad_t30 {padding-top:30px !important;}
.pad_t40 {padding-top:40px !important;}
.pad_t50 {padding-top:50px !important;}

.pad_b10 {padding-bottom:10px !important;}
.pad_b20 {padding-bottom:20px !important;}
.pad_b30 {padding-bottom:30px !important;}
.pad_b40 {padding-bottom:40px !important;}
.pad_b50 {padding-bottom:50px !important;}

.pad_a30 { padding:20px !important;}
.pad_l30 { padding-left:30px !important;}
.pad_r30 { padding-right:30px !important;}

.mar_t10 {margin-top:10px !important;}
.mar_t20 {margin-top:20px !important;}
.mar_t30 {margin-top:30px !important;}
.mar_t40 {margin-top:40px !important;}

.mar_t50 {margin-top:50px !important;}
.mar_t60 {margin-top:60px !important;}

.mar_l5 {margin-left:5px !important;}
.mar_l10 {margin-left:10px !important;}
.mar_l15 {margin-left:15px !important;}
.mar_l20 {margin-left:20px !important;}
.mar_l30 {margin-left:30px !important;}


.mar_r5 {margin-right:5px !important;}
.mar_r10 {margin-right:10px !important;}
.mar_r15 {margin-right:15px !important;}
.mar_r20 {margin-right:20px !important;}
.mar_r30 {margin-right:30px !important;}

.mar_b0 {margin-bottom:0px !important;}
.mar_b1 {margin-bottom:1px !important;}
.mar_b5 {margin-bottom:5px !important;}
.mar_b10 {margin-bottom:10px !important;}
.mar_b15 {margin-bottom:15px !important;}
.mar_b20 {margin-bottom:20px !important;}
.mar_b30 {margin-bottom:30px !important;}
.mar_b40 {margin-bottom:40px !important;}
.mar_b50 {margin-bottom:50px !important;}
.mar_b60 {margin-bottom:60px !important;}
.mar_b80 {margin-bottom:80px !important;}
.mar_b100 {margin-bottom:100px !important;}

.mar_t5 {margin-top:5px !important;}
.mar_t10 {margin-top:10px !important;}
.mar_t15 {margin-top:15px !important;}
.mar_t20 {margin-top:20px !important;}
.mar_t30 {margin-top:20px !important;}
.mar_t40 {margin-top:40px !important;}
.mar_t50 {margin-top:50px !important;}
.mar_t60 {margin-top:60px !important;}
.mar_t70 {margin-top:70px !important;}
.mar_t80 {margin-top:80px !important;}
.mar_t90 {margin-top:90px !important;}
.mar_t100 {margin-top:100px !important;}

.mar_tb1 {margin: 1px 0px !important;}


.comment {margin:-20px 0 30px 0 !important; width:100%; padding:0;}
.indent { margin:0px 0 60px 0; padding:0px; overflow:hidden;}
.indent strong { font-size:130%; font-weight:500; color:#17469d; } 
.indent30 {text-indent:15px;}
.l_con {float:left; width:49%; }
.l_con img {width:100%;}
.l_con:after {content:""; display:block; clear:both;}
.r_con { float:right; width:49%;}
.r_con:after {content:""; display:block; clear:both;}
.center { text-align:center; margin:0px auto;}
.center img { width:auto;  text-align:center; margin:0px auto;}


.outerbox { border:1px dashed #a1a1a1; }
.outer_line {border:1px dashed #a1a1a1; padding:20px 20px 10px 20px;  background:#f0f0f0;}
.borderbox  { border:1px solid #d0d0cf;}


.border_bottom { border-bottom:1px solid #ccc; padding:10px 0px; }

.underline {text-decoration:underline; font-weight:normal !important;}



/* diplay */
.block{display:block}
.none{display:none}
.inline{display:inline}
.inline-block{display:inline-block}






.basic {width:100%; margin:0px 0px 70px 0px; border-left:1px solid #ccc; border-bottom:1px solid #ccc; border-collapse:collapse; background:#fff;}
.basic th,
.basic td{ padding:14px;  border-bottom:1px solid #e7e7e7; border-right:1px solid #e7e7e7; text-align:center; }
.basic th { text-align:center; background-color:#f9f9f9; font-weight:500;}
.basic thead th {padding:16px 5px; border-bottom:1px solid #d6d6d6; border-top:2px solid #111; }
.basic tbody th { background:#fff;}
.basic thead th,
.basic tbody th {/* word-break:keep-all;*/}
.basic thead th.alt,
.basic tbody th.alt {text-align:left; padding-left:20px;}
.basic td.alt{text-align:left; padding-left:20px;}
.basic thead th.b0 {border-top:0px;}

.basic td ul.list_type1 {list-style: none; margin:0px; padding:0 0 0 10px; text-align: left; }
.basic td ul.list_type1 li { margin:0px; line-height:32px;  padding: 0 0 0 12px; background:url('/gmi/cni/blt03.gif') no-repeat left 14px; word-break:keep-all;  }
.basic td ul.list_type1 li.none { background:none; padding:0px;}



/* table */
.table_t {width:100%; margin:0px 0px 30px 0px; border-top:3px solid #395980 ;border-bottom:1px solid #d7d6d6; border-collapse:collapse; background:#fff;}
.table_t th,
.table_t td{padding:14px 10px; font-size:105%; border-left:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; /*word-break:keep-all;*/  }
.table_t th:first-child {border-left:none !important;}
.table_t thead th {text-align:center; background-color:#f9f9f9;}
.table_t tbody th {border-left:none; background-color:#fcfcfc;}
.table_t td{text-align:center;}
.table_t tr:first-child th, 
.table_t tr:first-child td{border-top:none;}
.table_t td.alt{text-align:left; padding-left:20px;}


.table_t2 {width:100%; margin:0px 0px 30px 0px; border-top:3px solid #395980 ;border-bottom:1px solid #d7d6d6; border-collapse:collapse; background:#fff; }
.table_t2 th,
.table_t2 td {padding:12px 10px; border-left:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; /*word-break:keep-all;*/ text-align:left;  }
.table_t2 th.bl {border-left:1px solid #d9d9d9;}
.table_t2 th:first-child {border-left:none !important;}
.table_t2 th {background-color:#f9f9f9; text-align:center; padding:12px 0px;}
.table_t2 tbody th{ border-left:none;}
.table_t2 tbody th br {display:none;}
.table_t2 tr:first-child th, 
.table_t2 tr:first-child td{border-top:none;} 
.table_t2 tbody td.content { padding:15px; overflow:hidden; background:none;  margin:0;}
.table_t2 td label {margin-right:10px;}


.table_t3 {width:100%; margin:0px; border-top:2px solid #434343 ;border-bottom:1px solid #ccc; border-collapse:collapse; background:#fff;}
.table_t3 th,
.table_t3 td{padding:8px 10px;border-left:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9;  font-weight:500; word-wrap:break-word !important;}
.table_t3 th:first-child {border-left:none !important;}
.table_t3 th {text-align:center;background-color:#f9f9f9;}
.table_t3 thead th  { background:#f9f9f9; border-left:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; }
.table_t3 tbody th{ border-left:0px;  }
.table_t3 td{text-align:left;}
.table_t3 tr:first-child th, 
.table_t3 tr:first-child td{border-top:0px;}
.table_t3 td a { font-size:100%;}

.table_t3 tbody th,
.table_t3 tbody td { height:60px; padding-left:7px; padding-right:7px; } 






/* Button a */
.button a { position:relative; margin:0; display:inline-block; text-decoration:none !important; border:0; white-space:nowrap; background:#757575; overflow:visible; color:#fff; border-radius:0px;}
.button a { height:35px; padding:0 20px 0 18px; font-weight:600; line-height:35px;}
.white a {background:#ffffff; color:#333; border:1px solid #ccc; }
.btn_line {padding: 2px 4px; border-radius:3px; display:inline-block; font-size:90%; border: 1px dashed #444; }

/* Button  */
.btn_wrap {float:left; display:block; position:relative; width:100%; margin:0; padding:0; text-align:center;}
.btn_wrap:after {content:''; display:block; clear:both;}
.btn_wrap .inner {display:table; position:relative; margin:0 auto; padding:0;}
.btn_wrap .fr {float:right; display:table; position:relative;}
.btn_wrap .fl {float:left; display:table; position:relative;}

.btn_wrap .ar {display:table; position:absolute; right:0; top:0;}
.btn_wrap .al {display:table; position:absolute; left:0; top:0;}
.btn_wrap .inner + .fr {float:inherit; position:absolute; right:0; top:0;}


.btn_wrap a,
.btn_wrap button {float:left;}
.btnLarge {display:inline-block; position:relative; min-width:100px; height:65px; margin:0; padding:0 35px;  border:none; line-height:63px; font-size:110%;  text-align:center}
.btnMid {display:inline-block; position:relative; min-width:90px; height:50px; margin:0; padding:0 30px; font-size:1em; border:none; line-height:48px; box-sizing:border-box; text-align:center}
.btnSmall {display:inline-block; position:relative; min-width:80px; height:35px; margin:0; padding:0 25px; font-size:100%; line-height:33px; box-sizing:border-box; border:none; text-align:center}
.btn_wrap .btnLarge + .btnLarge {margin-left:7px;}
.btn_wrap .btnMid + .btnMid {margin-left:6px;}
.btn_wrap .btnSmall + .btnSmall {margin-left:5px;}


button {line-height:1px; background: #fff; border:0px; margin:0px; padding:0px; width:auto; overflow:visible; cursor:pointer; }
button.txt_button{background:#363636; color:#fff; font-weight:600; height:35px; padding:0px 15px; vertical-align:top; line-height:25px; border-radius:0px;  font-size:1em;}


button.txt_button1 {background:#fd6407; border:1px solid #fd6408; color:#fff; height:50px; padding:0px 10px;  margin-left:5px;   font-size:1em; min-width:80px;}
button.txt_button2 {background:#4d4d4d; border:1px solid #4d4d4d; color:#fff; height:50px; padding:0px 10px;  margin-left:5px;   font-size:1em; min-width:80px;} 


button.txt_button3{background:#757575; color:#fff; font-weight:600; height:35px; padding:0 10px; line-height:35px; border-radius:3px;  font-size:1em;}
button.txt_button4{background:#f57280; color:#fff; font-weight:600; height:35px; padding:0 10px; line-height:35px; border-radius:3px;  font-size:1em;}

a.blue, button.blue{background-color:#007dc5; color:#fff;}
a.blue:hover, button.blue:hover, button.blue:focus{background-color:#006cab;}

a.purple, button.purple{background-color:#5771e0; color:#fff;}
a.purple:hover, button.purple:hover, button.purple:focus{background-color:#fff;  color:#5771e0; border:1px solid #5771e0;}

a.gray, button.gray{background-color:#999; color:#FFF;}
a.gray:hover, button.gray:hover, button.gray:focus{background-color:#808080;}

a.black, button.black{background-color:#4d4d4d; color:#fff; border:2px solid #4d4d4d;}
a.black:hover, button.black:hover, button.black:focus{background-color:#fff; color:#4d4d4d;}
 

a.white, button.white{background-color:#FFF; color:#000; font-weight:500; border:solid #4d4d4d 1px;}
a.white:hover, 
button.white:hover, 
white:focus{background-color:#4d4d4d; color:#fff; border:1px solid #4d4d4d;}


a.download, button.download {padding-right:50px; padding-left:40px; background:url('/gmi/bus/download_ico.png'); background-repeat:no-repeat ;background-position:right 50%;}
a.download:hover, 
button.download:hover, 
download:focus {background-image:url('/gmi/bus/download_ico_over.png'); }



.btn_wrap2 {display:block; position:relative; width:100%; margin:0; padding:0; text-align:center;}
.btn_wrap2:after {content:''; display:block; clear:both;}



.roundBtn{display:inline-block; height:60px; padding:0 60px; color:#222; font-size:20px; line-height:58px; border-radius:30px; border:1px solid #444;}
.roundBtn:hover { background:#222; text-decoration:none; color:#fff; }
.roundBtn.gray{color:#888; background:#f7f7f7;}
.roundBtn.floatBtn{position:fixed; bottom:30px; right:30px; color:#555; background:rgba(247,247,247,0.8); z-index:10;}
.roundBtn.floatBtn:hover{opacity:1;}
.roundBtn.noBd{border:none;}


.smallRound{display:inline-block; padding:0 21px; line-height:40px;  text-align:center; border-radius:20px; border:1px solid #444;}
.smallRound span{padding-right:23px;  font-size:15px; line-height:38px;}
.smallRound.gray{background:#333;}
.smallRound:hover { background:#222; text-decoration:none; color:#fff; }





/*****************1320이하******************************************/
@media all and (max-width:1320px){



}


/*****************1040이하******************************************/
@media all and (max-width:1040px){




}


/*****************767이하******************************************/
@media all and (max-width:767px){

ul.list_type1 li,
.basic td ul.list_type1 li { line-height:24px; }


/* table */
td, th {word-break:break-all !important;}
.table_t th,
.table_t td{padding:8px 4px !important; line-height:20px; font-size:90%;}
.table_t2 tbody th,
.table_t2 tbody td {line-height:20px;}
.table_t2 tbody th br {display:block;}

.roundBtn{ height:34px;padding: 0 30px; line-height: 30px;}


.l_con {float:left; width:100%; }
.r_con {float:left; width:100%; margin-top:30px; }

}



/*****************640이하******************************************/
@media all and (max-width:640px){

h4 { font-size:120%; background-position:left top; }
h5 { font-size:110%; padding-left:20px;  background-position:8px 50%;  }


 
ul.list_type1,
ul.list_type2 { font-size:90%; }





}


/****************520이하******************************************/
@media all and (max-width:520px){

.board_search .inputText { width:57%;} 

}



/*****************480이하******************************************/
@media all and (max-width:480px){

 .board_search .inputText { width:42%;}

}