@charset "utf-8"; 
/***********************************************************/
/* default */
body,select,input,textarea,a { font-family:'NanumS', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Gulim, '굴림', sans-serif; font-size:16px;  letter-spacing:-1px; color:#000; line-height:160%; font-weight: 500; } 
 
body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table,  ul, dd, dt, li, 
tbody, td, tfoot, th, thead, tr, button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite, code, dfn,
em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset, input,textarea {margin:0px; padding:0px;}
select {padding:0 1px;}
em {font-style:normal}
p, td, li, dd, dt, .block, th {/*word-break:keep-all;*/ /*word-wrap:break-word;*/} 
th, td {word-break:break-all;}
img, fieldset {border:0 none;}
img {vertical-align:top;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;} 
dl, ul, ol, li {list-style:none;}
legend, .hide {position:absolute; width: 0; line-height:0; height: 0; font-size: 0; top:0; left:-10000px; overflow:hidden;}
.hidden {position:absolute; left:-10000px;}

caption {width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; position:static;}
select { border:1px solid #d5d5d5;}
a {color: #161616; text-decoration: none; cursor: pointer; }
a:hover,a:active,a:focus {color: #000; text-decoration:underline; }
iframe {border:none; overflow:hidden;}
strong {font-weight:bold;}
/* * {box-sizing:border-box;} */
html {box-sizing:border-box; /*-moz-box-sizing:border-box; -webkit-box-sizing:border-box;*/ }
*, *:before, *:after {box-sizing: inherit;}
img { box-sizing:content-box; /*-moz-box-sizing:content-box;-webkit-box-sizing:content-box;*/}
img {border:0; max-width:100%;}

article, aside, canvas, video, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block;}

/* 숨김텍스트처리 */
.skip { position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden;}




/*서식*/
form { margin: 0; padding: 0; }
input, select, textarea, button {} 

input.image {  vertical-align:top; border:0px; }

input[type=text], 
input[type=password], 
input[type=number],
input[type=file]{border:1px solid #c1c1c1; height:35px; line-height:35px; padding:0px 0px; border-radius:3px;}
input[type=checkbox], 
input[type=radio]{vertical-align:middle;padding:0; margin:0 5px 0 0; border:0px solid #c1c1c1;}
input[type=text] { padding:0px 10px; }
textarea{padding:10px; border:1px solid #c1c1c1; border-radius:3px;}
select{border:1px solid #c1c1c1; height:34px; padding-left:5px; line-height:34px; border-radius:3px; }

input:hover, 
input:focus, 
select:hover, 
select:focus, 
textarea:hover, 
textarea:focus { border: 1px solid #88898d;}
input[type=file]:hover, 
input[type=file]:focus { border: 0px solid #88898d;}
input[type=image]:hover, 
input[type=image]:focus { border: 0px solid #88898d;}
/*a[target="_blank"] { background:url(/hsidc/gmi/cni/new_ico.png) no-repeat right 45%; padding-right:20px;  }*/



.cl,
.tab, #container,#contents-middle-tab, .global-movement,.present-condition, .present-condition div 
.banner-area .sum-area .sum-slide-area{/**zoom:1;*/}
.cl:after, .tab:after,  #container:after, #contents-middle-tab:after, .global-movement:after,
.present-condition:after, .present-condition div:after,
.banner-area .sum-area .sum-slide-area:after{clear:both; content:""; display:block;}
.hand,button, .over{cursor:pointer;}
.block{display:block !important;}


/*문단*/
.fl{float:left;}
.fr{float:right;}

.text_r {text-align:right;}
.text_l {text-align:left;}
	
h4 {display:block; margin:0px 0 20px 0; font-size:140%; font-weight:600; background:url('/hsidc/gmi/cni/h4_bulit.png') no-repeat left 3px; padding:0px 0 3px 36px; text-align:left; letter-spacing:-1.5px; clear:both;}
h5 { background:url('/hsidc/gmi/cni/h5_bulit.png') no-repeat 22px center; padding-left:36px; margin:30px 0px 20px 0px; color:#4833b3; font-size:120%; font-weight:600; text-align:left; letter-spacing:-1.5px; clear:both;}
h6 {font-size:110%; font-weight:600; margin:0px 0px 10px 0px; padding-left:10px; color:#000;}
 

.uit { background: #dbdbdb none repeat scroll 0 0;   margin-bottom:10px;   overflow: hidden;   position: relative;}
.uit::before { background: #2d374d none repeat scroll 0 0; content: ""; height:20px; left:0px; position: absolute;  top:0px;  width: 100%;}
.uit::after { background: #1fbcbe none repeat scroll 0 0; content: ""; height:20px; left:0px; position: absolute; top:0px; width: 180px;}
.uit .inner  { background-color:#fff; border-bottom:0px solid #c2cbe5; margin:1px; padding:20px 30px; position:relative; z-index: 1; overflow:hidden;}
.uit .inner li {margin:0px 100px 0px 0px; padding:0px; float:left; display:inline; }
.uit .inner li span {font-weight:600;}



.contents_info {margin:0 0 40px 0; padding:20px 4%; border:1px dashed #b6b6b6; font-size:100%;}
.contents_info .title_box {margin:0px 0px 0px 0px; padding:40px 0 10px 150px; min-height:110px;}
.contents_info ul {list-style:none; margin:0; padding:0;}
.contents_info ul li {margin:0 0 3px 0; padding: 0 0 0 11px; background:url('/hsidc/gmi/cni/blt01.gif') no-repeat left 12px; word-break:keep-all; }
.contents_info ul li ul {list-style:none; margin:0 0 7px 0; padding:0;}
.contents_info ul li ul  li {margin:0 0 0 0; padding: 0 0 0 11px; background:url('/hsidc/gmi/cni/blt02.gif') no-repeat left 14px; word-break:normal !important; }


/* icon_bg */
.cimg01 {background:url('/hsidc/gmi/bus/cimg01.gif') no-repeat left top;} /* 민원업무_입주안내 */
.cimg02 {background:url('/hsidc/gmi/bus/cimg02.gif') no-repeat left top;} /* 민원업무_서식자료 */





.tabMenu {position:relative; width:100%; margin:20px auto 30px auto;}
.tabMenu > ul { display:table;table-layout:fixed;width:auto;  margin: 0 auto;}
.tabMenu > ul > li { display:table-cell; height:38px; vertical-align:bottom; /*width:50%;*/ float:left; margin-bottom:4px; }
.tabMenu > ul > li > a { display:block;height:38px;  border:1px dashed #afafaf; padding:0px 20px; margin:0px 2px; line-height:38px; text-align:center; font-size:95%;}

.tabMenu > ul > li:first-child a { }
.tabMenu > ul > li:last-child a { }
.tabMenu > ul > li > a:hover, 
.tabMenu > ul > li > a:focus {height:38px; line-height:38px; z-index:2;  }
.tabMenu > ul > li.tanon > a {height:38px; color:#111; line-height:38px; z-index:2; }
.tabMenu > ul > li.tanon a,
.tabMenu > ul > li a:hover, 
.tabMenu > ul > li a:active, 
.tabMenu > ul > li a:focus  { padding-top:0; color:#e77600; border:1px dashed #afafaf;   border-bottom:2px solid #e77600;  font-weight:600;  }

.tabMenu > ul > li.part2 { width:50%;} 
.tabMenu > ul > li.part3 { width:33.3%;} 
.tabMenu > ul > li.part4 { width:25%;} 
.tabMenu > ul > li.part5 { width:20%; } 
.tabMenu > ul > li.part6 { width:16.6%;} 
.tabMenu > ul > li.part7 { width:14.2%;} 

.boxTab {height: auto;overflow: hidden;text-align: center;width:100%; margin:20px 0px 40px 0px; font-size:95%;}
.boxTab ul { border-collapse: collapse;  display: table;  margin: 0 auto;  text-align: center;  width:auto;}
.boxTab ul li {position:relative; background: #fff; display: table-cell; float:left; margin:0px 0px; width:auto;}
.boxTab ul li a {display: block;  height:36px; line-height:36px; font-size:100%; padding:0px 11px; /* background:url(/gmi/cni/line.gif) no-repeat right center;*/  } /* off */
.boxTab ul li:last-child a { background:none; }
.boxTab ul li a:hover,
.boxTab ul li a:active,
.boxTab ul li a:focus {text-decoration:none;}
.boxTab ul li.Tabon a {margin:0; padding:0px; color:#fff; background:#387600; border-radius:4px;   }  /* on */
.boxTab ul li.Tabon a span{float:left; display:block; height:36px; line-height:36px; padding:0px 11px; } 






.tabMenu2 {position:relative;width:100%; margin:20px auto 60px auto;}
.tabMenu2 > ul {position:relative;display:table;table-layout:fixed; width:100%;  margin: 0 auto;}
.tabMenu2 > ul > li {position:relative;display:table-cell;height:58px;vertical-align:bottom; /*width:50%;*/ }
.tabMenu2 > ul > li > a {position:relative;display:block;height:48px; background:#fff; border:1px dashed #c1c1c1; padding:10px 40px; margin-left:1px; margin-right:1px; /*line-height:48px;*/text-align:center;transition:all 0.2s; z-index:1; font-size:100%;}

.tabMenu2 > ul > li:first-child a {margin-left:0;}
.tabMenu2 > ul > li > a:hover, 
.tabMenu2 > ul > li > a:focus {height:58px; background:#0e71b8;border-color:#0e71b8;color:#fff; /*line-height:58px;*/z-index:2; padding-top:15px;}
.tabMenu2 > ul > li.tanon > a {height:58px;background:#0e71b8;border-color:#0e71b8;color:#fff;/*line-height:58px;*/z-index:2; padding-top:15px;}
.tabMenu2 > ul > li.tanon > a:hover, 
.tabMenu2 > ul > li.tanon > a:focus {padding-top:15px; background:#0e71b8;border-color:#0e71b8;}
 

/* 목록 */ 
ul.list_type1 { list-style: none; margin:10px 0px 30px 0px; padding:0 0 0 10px; text-align: left;  }
ul.list_type1 li { margin:0px 0 2px 0; padding: 0 0 0 12px; background:url('/hsidc/gmi/cni/blt01.gif') no-repeat left 14px; word-break:keep-all; line-height:32px; }
ul.list_type1 li span {  color:#000; }
ul.list_type1 li.none { background:none; padding:0px;}
ul.list_type1 li ul { margin:5px 0 5px 0; padding:0px; list-style:none; }
ul.list_type1 li ul li { margin:2px 0; padding: 0 0 0 14px;  background:url('/hsidc/gmi/cni/blt03.gif') no-repeat left 13px; color:#444; font-size:95%;  line-height:28px; }
ul.list_type1 li ul li.none { background:none; padding:0px;}
ul.list_type1 li ul li span {font-weight:500; color:#000;}
ul.list_type1 li img  { vertical-align:middle; }





ol.list_num {  margin:0 0 20px 20px; padding:0 0 0 20px; text-align: left;  }
ol.list_num li { margin:2px 0px 10px 0px; padding:0px; text-indent:0px; list-style:decimal-leading-zero; letter-spacing:0px;  }
ol.list_num li span {font-weight:600; color:#7a4b35;}
ol.list_num li ol {  margin:10px 0 10px 10px; padding:0 0 0 10px; text-align: left; list-style-type:decimal-leading-zero;  }
ol.list_num li ol li { margin:2px 0; padding:0px; }
ol.list_num li ul {  margin:0px 0 10px 0px; padding:0px; text-align: left;  }
ol.list_num li ul li { margin:2px 0; padding:0px; list-style:none; } 

 
td ul.list_type1 {list-style: none; margin:0px; padding:0 0 0 10px; text-align: left; }

td ul.list_type1 li { margin:0px; line-height:32px;  padding: 0 0 0 12px; background:url('/hsidc/gmi/cni/blt01.gif') no-repeat left 14px; word-break:keep-all;  }
td ul.list_type1 li.none { background:none; padding:0px;}




/*color style */
.red { color:#ec2323 !important;}
.orange {color:#ff5d1d !important;}
.green {color:#1d7c0a !important;}
.point {color:#5079a5 !important;}
.yellow { background:#FFFFDC !important;}

.font90 { font-size:90% !important; color:#777 !important;}
.font120 { font-size:120% !important;}
.font200 { font-size:200% !important;}


/*공간*/
.w10 {width:10% !important;}
.w25 {width:25% !important;}
.w27 {width:27% !important;}
.w30 {width:30% !important;}
.w35 {width:35% !important;}
.w40 {width:40% !important;}
.w45 {width:45% !important;}
.w48 {width:48% !important;}
.w50 {width:50% !important;}
.w80  {width:80% !important;}
.w85  {width:85% !important;}
.w90  {width:90% !important;}
.w100 {width:100% !important;}
.w70p  {width:70px !important;}
.w75p  {width:75px !important;}


.pad_t5 {padding-top:5px !important;}
.pad_t10 {padding-top:10px !important;}
.pad_t20 {padding-top:20px !important;}
.pad_t25 {padding-top:25px !important;}
.pad_t30 {padding-top:30px !important;}
.pad_t40 {padding-top:40px !important;}
.pad_t50 {padding-top:50px !important;}

.pad_b10 {padding-bottom:10px !important;}
.pad_b20 {padding-bottom:20px !important;}
.pad_b30 {padding-bottom:30px !important;}
.pad_b40 {padding-bottom:40px !important;}
.pad_b50 {padding-bottom:50px !important;}

.pad_a30 { padding:20px !important;}
.pad_l30 { padding-left:30px !important;}
.pad_r30 { padding-right:30px !important;}

.mar_t10 {margin-top:10px !important;}
.mar_t20 {margin-top:20px !important;}
.mar_t30 {margin-top:30px !important;}
.mar_t40 {margin-top:40px !important;}

.mar_t50 {margin-top:50px !important;}
.mar_t60 {margin-top:60px !important;}



.mar_l5 {margin-left:5px !important;}
.mar_l10 {margin-left:10px !important;}
.mar_l20 {margin-left:20px !important;}
.mar_l30 {margin-left:30px !important;}


.mar_r5 {margin-right:5px !important;}
.mar_r10 {margin-right:10px !important;}
.mar_r20 {margin-right:20px !important;}
.mar_r30 {margin-right:30px !important;}

.mar_b0 {margin-bottom:0px !important;}
.mar_b5 {margin-bottom:5px !important;}
.mar_b10 {margin-bottom:10px !important;}
.mar_b15 {margin-bottom:15px !important;}
.mar_b20 {margin-bottom:20px !important;}
.mar_b30 {margin-bottom:30px !important;}
.mar_b40 {margin-bottom:40px !important;}
.mar_b50 {margin-bottom:50px !important;}
.mar_b60 {margin-bottom:60px !important;}
.mar_b80 {margin-bottom:80px !important;}
.mar_b100 {margin-bottom:100px !important;}

.mar_ml1 { margin-left:-1px !important;}
.mar_mt30 {margin-top:-30px !important;}



.indent { margin:0px 0 60px 0; padding:0px; overflow:hidden;}
.indent strong { font-size:130%; font-weight:500; color:#17469d; } 
.indent30 {text-indent:15px;}
.l_con {float:left; width:49%; }
.l_con img {width:100%;}
.l_con:after {content:""; display:block; clear:both;}
.r_con { float:right; width:49%;}
.r_con:after {content:""; display:block; clear:both;}
.center { text-align:center; margin:0px auto;}

.outerbox { border:1px dashed #a1a1a1;}
.outer_line {border:1px dashed #a1a1a1; padding:10px 0px;}
.borderbox  { border:1px solid #d0d0cf;}

.underline {text-decoration:underline; font-weight:normal !important;}



/* 주의 문구 */
.warning {   background:#f4eeee; padding:30px 30px 0px 30px; margin-bottom:50px;  }
.warning dl {margin:0px; padding:0px; display:table-cell; }
.warning dt {margin:0px 30px 30px 0; padding:0px 0 0 42px; background:url('/hsidc/gmi/cni/warning_ico.png') no-repeat left top; line-height:32px; font-size:140%; color:#bc0404; float:left; }
.warning dd { margin:0px; padding:0px; float:left;  font-size:100%; }


/* diplay */
.block{display:block}
.none{display:none}
.inline{display:inline}
.inline-block{display:inline-block}






.basic {width:100%; margin:0px 0px 70px 0px; border-left:1px solid #ccc; border-bottom:1px solid #ccc; border-collapse:collapse; background:#fff;}
.basic th,
.basic td{ padding:14px;  border-bottom:1px solid #e7e7e7; border-right:1px solid #e7e7e7; text-align:center; }
.basic th { text-align:center; background-color:#f9f9f9; font-weight:500;}
.basic thead th {padding:16px 5px; border-bottom:1px solid #d6d6d6; border-top:2px solid #111; }
.basic tbody th { background:#fff;}
.basic thead th,
.basic tbody th {/* word-break:keep-all;*/}
.basic thead th.alt,
.basic tbody th.alt {text-align:left; padding-left:20px;}
.basic td.alt{text-align:left; padding-left:20px;}
.basic thead th.b0 {border-top:0px;}



.table_t {width:100%; margin:0px 0px 10px 0px; border-top:1px solid #434343 ;border-bottom:1px solid #ccc; border-collapse:collapse; background:#fff;}
.table_t th,
.table_t td{padding:10px 10px;border-left:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; /*word-break:keep-all;*/  }
.table_t th:first-child {border-left:none !important;}
.table_t th {text-align:center;background-color:#f9f9f9;}
.table_t tbody th{ border-left:none;}
.table_t td{text-align:center;}
.table_t tr:first-child th, 
.table_t tr:first-child td{border-top:none;}
.table_t td.alt{text-align:left; padding-left:20px;}


.table_t2 {width:100%; margin:0px; border-top:2px solid #434343 ;border-bottom:1px solid #ccc; border-collapse:collapse; background:#fff; }
.table_t2 th,
.table_t2 td{padding:8px 10px;border-left:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9;  font-weight:500; }
.table_t2 th:first-child {border-left:none !important;}
.table_t2 th {text-align:center;background-color:#f9f9f9;}
.table_t2 tbody th{ border-left:none; word-break:keep-all;}
.table_t2 td{text-align:center;}
.table_t2 tr:first-child th, 
.table_t2 tr:first-child td{border-top:none;}
.table_t2 td a { font-size:100%;}

.table_t2 tbody th,
.table_t2 tbody td { height:70px;} 




.table_t3 {width:100%; margin:0px; border-top:2px solid #434343 ;border-bottom:1px solid #ccc; border-collapse:collapse; background:#fff;}
.table_t3 th,
.table_t3 td{padding:8px 10px;border-left:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9;  font-weight:500; }
.table_t3 th:first-child {border-left:none !important;}
.table_t3 th {text-align:center;background-color:#f9f9f9;}
.table_t3 thead th  { background:#f9f9f9; border-left:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; }
.table_t3 tbody th{ border-left:0px;  }
.table_t3 td{text-align:center;}
.table_t3 tr:first-child th, 
.table_t3 tr:first-child td{border-top:0px;}
.table_t3 td a { font-size:100%;}

.table_t3 tbody th,
.table_t3 tbody td { height:60px; padding-left:7px; padding-right:7px; } 



/*****************1320이하******************************************/
@media all and (max-width:1320px){



.tabMenu2 > ul > li > a { padding-left:25px; padding-right:25px; }

/* 주의 문구 */
.warning { padding-bottom:30px; }
.warning dt {margin:0px 30px 0px 0; }

}


/*****************1040이하******************************************/
@media all and (max-width:1040px){


.tabMenu > ul > li.part2,
.tabMenu > ul > li.part3,
.tabMenu > ul > li.part4,
.tabMenu > ul > li.part5,
.tabMenu > ul > li.part6,
.tabMenu > ul > li.part7 { width:33.3%;} 

.tabMenu2 > ul > li > a {padding-left:15px; padding-right:15px; }
 
 
.contents_info { padding:10px 2%; } 
.contents_info .title_box {  padding-top:10px; padding-left:70px; min-height:58px;}
.cimg01,
.cimg02 {background-size:55px 55px; }

}


/*****************800이하******************************************/
@media all and (max-width:800px){

.tabMenu { margin:0 auto 60px auto;}
.tabMenu > ul > li > a { padding:0px 20px; } 



.tabMenu2 > ul > li > a {padding-left:0px; padding-right:0px; font-size:90%; }
 


}



/*****************640이하******************************************/
@media all and (max-width:640px){

h4 { font-size:120%; background-position:left top; }
h5 { font-size:110%; padding-left:20px;  background-position:8px 50%;  }


.contents_info { font-size:90%;}

.tabMenu { margin:0 auto 40px auto;}
.tabMenu > ul > li > a { padding:0px 10px; font-size:90%;}
.tabMenu > ul > li span { display:none; }


.tabMenu > ul > li.part2,
.tabMenu > ul > li.part3,
.tabMenu > ul > li.part4,
.tabMenu > ul > li.part5,
.tabMenu > ul > li.part6,
.tabMenu > ul > li.part7 { width:50%;} 


 
.tabMenu2 > ul > li {width:25%; float:left; }
.tabMenu2 > ul > li > a:hover, 
.tabMenu2 > ul > li > a:focus {height:48px; padding-top:11px;}
.tabMenu2 > ul > li.tanon > a {height:48px; padding-top:11px;}
.tabMenu2 > ul > li.tanon > a:hover, 
.tabMenu2 > ul > li.tanon > a:focus {padding-top:11px;}

 
ul.list_type1,
ul.list_type2 { font-size:90%; }
 

.boxTab ul li a { font-size:85%; }

.boxTab ul li.Tabon a span {float:none; padding:0px 2px; }

.basic { font-size:90%;}

.table_t2 th,
.table_t2 td { font-size:90%; }


.table_t3 tbody th,
.table_t3 tbody td { height: auto;} 


.contents_info { font-size:90%;}


/* 주의 문구 */
.warning {padding-bottom:30px;}
.warning dt { font-size:100%; }
.warning dd {  font-size:90%; }


}


/*****************480이하******************************************/
@media all and (max-width:480px){

 
.tabMenu > ul > li > a { padding:0px 12px; font-size:85%; letter-spacing:-1px;} 
 
 

}