@charset "utf-8"; 

/* 나눔고딕 */
@font-face{
	font-family:'NanumB';
	font-weight: 400;
	src:url("/hsidc/font/NanumBarunGothic.eot");
	src:url("/hsidc/font/NanumBarunGothic.eot?#iefix") format('embedded-opentype'),
	    url("/hsidc/font/NanumBarunGothic.woff") format('woff');
}

@font-face{
	font-family:'NanumB';
	font-weight: 600;
	src:url("/hsidc/font/NanumBarunGothicBold.eot");
	src:url("/hsidc/font/NanumBarunGothicBold.eot?#iefix") format('embedded-opentype'),
	    url("/hsidc/font/NanumBarunGothicBold.woff") format('woff');
}

@font-face{
	font-family:'NanumG';
	font-weight: 400;
	src:url("/hsidc/font/NanumGothic.eot");
	src:url("/hsidc/font/NanumGothic.eot?#iefix") format('embedded-opentype'),
	    url("/hsidc/font/NanumGothic.woff") format('woff');
}

@font-face{
	font-family:'NanumG';
	font-weight: 600;
	src:url("/hsidc/font/NanumGothicBold.eot");
 	src:url("/hsidc/font/NanumGothicBold.eot?#iefix") format('embedded-opentype'),
	    url("/hsidc/font/NanumGothicBold.woff") format('woff');
}

@font-face{
	font-family:'NanumS';
	font-weight: 400;
	src:url("/hsidc/font/NanumSquareR.eot");
 	src:url("/hsidc/font/NanumSquareR.eot?#iefix") format('embedded-opentype'),
	    url("/hsidc/font/NanumSquareR.woff") format('woff'),
	    url("/hsidc/font/nanumsquarer.ttf") format('truetype'),
        url("/hsidc/font/nanumsquarer.svg#nanumsquarer") format('svg');
}

@font-face{
	font-family:'NanumS';
	font-weight: 600;
	src:url("/hsidc/font/NanumSquareB.eot");
 	src:url("/hsidc/font/NanumSquareB.eot?#iefix") format('embedded-opentype'),
	    url("/hsidc/font/NanumSquareB.woff") format('woff'),
		url("/hsidc/font/nanumsquareb.ttf") format('truetype'),
        url("/hsidc/font/nanumsquareb.svg#nanumsquareb") format('svg');
}

