@charset "utf-8"; 
/***********************************************************/


.wrap {width:100%; height:auto; overflow-x:hidden;  }
.al_box { height:auto; margin:0 auto; position:relative; width:100%;}
.al_box:after {content:""; display:block; clear:both;}

#skip-go {display:block;}
#skip-go dt {position:absolute; top:0; left:-1000px;}
#skip-go dd a {display:block; font-weight:bold; position:absolute; top:0; left:-1000px; font-size:120%; text-align:center; background-color:#000; z-index:1000;} 
#skip-go dd a:hover, 
#skip-go dd a:active, 
#skip-go dd a:focus{left:0; height:40px; width:100%; line-height:40px; color:#fff !important;}

#header {width:100%; height:152px ;z-index:200; position:fixed;/* background:#fff; *//* border-bottom:1px solid #dadada; */}
#header.scrolled {/* box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15); */ border-bottom:1px solid #e8e8e8; background:#fff; } 
.container-full { width:100%;}

 .header_top {display:block; position:relative; height:32px; z-index:101; border-top:5px solid #0e71b8;}
 .header_topCon {position:relative; width:1250px; margin:0 auto;}
	
	 
   .utilLink {position:absolute; right:0px; top:0px; }
   .utilLink > a {display:inline-block;font-size:90%;margin:0px;padding: 0px 15px;color:#000;border-left:1px solid #c3c3c3;line-height:27px;}
   .utilLink > a:last-child {border-right:1px solid #c3c3c3;}
   
   
	

   /* gnb */ 
   .gnb_area {position:relative; top:0px; width:1250px; margin:0px auto; padding:0px;  }
	.logo {left:1px; top:21px; margin:0px; padding:0px; position:absolute;}	
	.logo a {width:301px; height:70px;}
	 
	
   	.gnb {display:block;position:relative;z-index:200;float:right;/* padding-right:30px; */margin-top:20px;}
   	.gnb > li {float:left;position:relative;padding: 0px 25px;margin-top:18px;}	  
	.gnb > li:first-child{ background:none;}
	.gnb > li a {display:block; font-size:130%; padding-bottom:21px; font-weight:600; letter-spacing:-1px; color:#000; }
   	.gnb > li:hover > a, 
   	.gnb > li:active > a, 
   	.gnb > li.active > a, 
   	.gnb > li:focus > a {color:#0e71b8; text-decoration:none; background:url('/hsidc/gmi/cni/gnb_blt.png') no-repeat 50% 42px; }
   	.gnb > li:last-child > .gnb_sub > li > a { /*width:187px;*/}
   	.gnb_sub {display:none; position:absolute; left:0px; padding-top:0px; z-index:300; border-top:4px solid #0e71b8;}
	.gnb_sub > li > a.on {background:#fff;}
   	.gnb_sub > li.active > a {color:#fff; background-color:#0e71b8; }
   	.gnb_sub > li.active > a.on {background:#0e71b8;}
   	.gnb_sub > li > a {display:block; width:180px; padding:7px 10px 10px 15px; font-size:95%; color:#fff; letter-spacing:-1px;  background-color:#2b3237;}
   	.gnb_sub > li:last-child > a {border-bottom:0px solid #2b3237;}
   	.gnb_sub > li > a:hover, 
   	.gnb_sub > li > a:active, 
   	.gnb_sub > li > a:focus {color:#fff; background-color:#0e71b8; text-decoration:none; transition:.3s ease; -moz-transition:.3s ease; -webkit-transition:.3s ease; -ms-transition:.3s ease; -o-transition:.3s ease;}
	


   	.gnb_sub.gnb_sub1 { left:3px;}
	.gnb_sub.gnb_sub2 { left:-5px;}
	.gnb_sub.gnb_sub3 { left:-26px;}
	.gnb_sub.gnb_sub4 {left:-4px;}
	.gnb_sub.gnb_sub5 {left:-36px;}
	
	 
	/*************/	
	.btn_nav2 {display:none;}	
	.all_menu2 {display:none;}
	.all_menu2 .btn_nav2.close {display:block;}




/* footer */
.footer { width:100%; } 		
.footer_con_box {width:100%;  float:left; margin:0 auto;  background:#4c4c4c; color:#fff;  padding-bottom:20px; padding-top:30px; }   
.footer_con {width:1250px; margin:0 auto;position:relative; }

/* 주소 */	
.addr {float:left; width:100%; padding:0px 0px 30px 0px; overflow:hidden; }
.addr address { font-style:normal;  float:left; font-weight:500; margin:0px; padding:0px;}
.addr address,
.addr p, 
.addr p span, 
.copyright,
.tel {font-style:normal; float:left;  }
.tel {margin-left:5px;  }
.copyright {width:100%; line-height:120%; margin-top:5px;}
.copyright {opacity:0.6;}

	  
/* 링크사이트 */
	.linkSelect {position:absolute; top:0px; right:0px; width:177px; z-index:100; background:#333232;  border-radius:3px; }
	.linkSelect > dl { width:100%; z-index:20;}
	.linkSelect > dl > dt { width:100%; font-size:95%;  }
	.linkSelect > dl > dd {display:none; position:absolute; left:0px; bottom:46px; padding:0px; border:0px; z-index:20;}
	.linkSelect > dl > dd > div {position:absolute; bottom:0px; right:0px; width:177px; padding:5px; border:2px solid #111; border-radius:3px; background-color:#fff;}
	.linkSelect > dl > dd > div ul li a {}	
	.linkSelect .open { background:url('/hsidc/gmi/cni/icon_close.png') no-repeat;}
	.linkSelect .close { background:url('/hsidc/gmi/cni/icon_open.png') no-repeat;}	
	.linkSelect .open,
	.linkSelect .close {  float:left; display:block; width:100%; padding:0px 20px; color:#fff; height:42px; line-height:42px; background-position:93% center;}

	.mark {float:right; }

    .linkSite > dl > dd > div {left:0px; overflow-y:scroll; }
	.linkSite > dl > dd > div ul {float:left; width:100%; height:109px; margin-top:5px; padding-left:15px; }
	.linkSite > dl > dd > div ul li {margin:0px 0 3px 0; padding:0px; }
	.linkSite > dl > dd > div ul li a {font-size:90%; background:url('/hsidc/gmi/cni/newlink.png') no-repeat right 45%; padding-right:18px; letter-spacing:-1px;}	



/***** container *****/
#main_container {width:100%;height:auto;padding: 0px 0px 0px 0px; position:relative; margin:152px auto 0px auto; }
#container {width:100%; height:auto; padding:0px 0px 60px 0; position:relative; margin:152px auto 0px auto; }

#main_container #body_contents,
#container #body_contents,
#container .body_contents {height:auto; margin:0 auto; float:none; padding:0px;  position:relative; overflow:hidden; }

 .content_area {width:1250px;margin:0px auto;padding:0px 0px 30px 0px;overflow:hidden;}

#container .content_area { font-size:110%; letter-spacing:-1px;  }




/* 업무안내*/
.work_info { width:100%;  }
.work_info dl { width:100%; height:auto; clear:both; border-top:2px solid #111; float: left; padding:10px 20px 50px 20px;}
.work_info dl:first-child {  background:url('/hsidc/gmi/bus/work_info_icon01.png') no-repeat; }
/*.work_info dl:nth-child(2n) {background:url('/hsidc/gmi/bus/work_info_icon02.png') no-repeat; }*/
.work_info dl:nth-child(2n) {background:url('/hsidc/gmi/bus/work_info_icon03.png') no-repeat; }
.work_info dl:last-child  { background:url('/hsidc/gmi/bus/work_info_icon04.png') no-repeat; }
.work_info dl:first-child,
.work_info dl:nth-child(2n),
.work_info dl:nth-child(3n),
.work_info dl:last-child {background-position:20px 78px;}
.work_info dt { width:22%;  float:left; padding:20px 0px; font-size:150%; }
.work_info dd { width:38%; float:left; padding:20px 40px;}
.work_info dd span {  color:#999; }






/* 찾아오시는길 */
.map_box { width:100%; overflow:hidden; margin-bottom:30px; }
.info_map { width:67%; float:left; }
div.root_daum_roughmap_landing { width:100% !important;}
.info_text { width:30%; float:right; }
.info_text dl { padding-left:66px; margin:10px 0px 30px 0px;  }
.info_text dl:first-child {background:url('/hsidc/gmi/bus/map_icon01.png') no-repeat left top; }
.info_text dl:nth-child(2n) {background:url('/hsidc/gmi/bus/map_icon02.png') no-repeat left top; }
.info_text dl:last-child {background:url('/hsidc/gmi/bus/map_icon03.png') no-repeat left top; }
.info_text dl dt {  font-size:110%; color:#111; font-weight:600;  }
.info_text dl dd { letter-spacing:-1.5px; }



/* 산업단지 현황_사업개요 */
.box_list { word-break:keep-all;}
.box_list li {  float:left;  width:18.8%; height:250px; margin:0 0 10px 1.5%; border:1px solid #d2d2d2; text-align:center;}
.box_list li span { display:block; }
.box_list li span.tit { padding:25px 0 100px; font-size:18px; font-weight:600; color:#084896; } 
.box_list li span.text { margin-top:20px;  line-height:18px; font-size:90%; padding:0px 8px;}
.box_list li.bg1 { margin-left:0;}
.box_list li.bg1 { background:url('/hsidc/gmi/bus/industry_bg1.png') no-repeat;}
.box_list li.bg2 { background:url('/hsidc/gmi/bus/industry_bg2.png') no-repeat;}
.box_list li.bg3 { background:url('/hsidc/gmi/bus/industry_bg3.png') no-repeat;}
.box_list li.bg4 { background:url('/hsidc/gmi/bus/industry_bg4.png') no-repeat;}
.box_list li.bg5 { background:url('/hsidc/gmi/bus/industry_bg5.png') no-repeat;}

.box_list li.bg1,
.box_list li.bg2,
.box_list li.bg3,
.box_list li.bg4,
.box_list li.bg5 {background-position:center 70px;}


/* 산업단지 현황_ 일반현황*/
.list_num_d {border:1px dashed #c1c1c1; padding:25px 35px; margin-top:5px;  float:left; position:relative; }
.list_num_d li {  width:25%; line-height:40px; float:left;}
.list_num_d li a { font-size:100%;  }
.list_num_d .ic1{ display:inline-block; width:25px; height:25px; margin-right:5px; line-height:25px; text-align:center; color:#fff; font-size:95%; background:#568fed; border-radius:100%; font-style:normal;}


/****** 일반현황 상세*******/
dl.industry_detail  {width:100%; margin:0px 0px 5px 0px; padding:30px; overflow:hidden;  position:relative;  background:#ededed; border-top:0px !important; border:1px dashed #c1c1c1;} 
dl.industry_detail:after { clear: both;   content: "";   display: block;}
dl.industry_detail dt { float: left;   padding-left:306px; padding-top:0px; width:100%; font-size:130%;  font-weight:600;}
dl.industry_detail dt span {color:#828282; font-size:70%; font-weight:500; padding-left:2px; }
dl.industry_detail dd {float: right; padding:20px 0px 10px 300px; min-height:130px; width:100%;}
 
dl.industry_detail dd.industryimg {overflow:hidden; position:absolute; top:20px; left:20px; width:300px; margin:0px; padding:0px; border:1px solid #dadada;}
dl.industry_detail dd.industryimg * { margin:0; padding:0;}
dl.industry_detail dd.industryimg img { background:none; width:auto;}



/* 입주안내 */
 .process_box{margin:10px 0px 30px 0px; padding:40px 5% 30px; background-color:#f8f8f8; position:relative; }
 .process_box .clearfix{display:block;}

 .process_box .t_right { width:100%; height:78px; line-height:78px; text-align:right; margin-bottom:10px; padding-right:30px; background:url('/hsidc/gmi/bus/blue_arrow_down.png') no-repeat right center;}
 .process_box .t_left {  width:100%; height:78px; line-height:78px; text-align:left; clear:both; margin-bottom:10px;  padding-left:30px;background:url('/hsidc/gmi/bus/red_arrow_down.png') no-repeat left center;}
 .process_box .t_center { width:100%; height:68px; line-height:38px;   margin:0px auto; text-align:center;  background:url('/hsidc/gmi/bus/blue_arrow_down.png') no-repeat right center; }
 .process_box .t_center2 { width:100%; height:68px; line-height:38px;   margin:0px auto; text-align:center;  background:url('/hsidc/gmi/bus/red_arrow_down.png') no-repeat right center; }
 .process_box .t_right.bg_no {background-image:none; padding-right:0px; line-height:1; height:10px;  }
 .process_box .t_left.bg_no {background-image:none; padding-left:0px;  line-height:1; height:10px; }
 .process_box .t_center.bg_no {background-image:none;  }


 .process_box ol.list01 li{width:33.3%; float:left; margin:0 0 10px 0; padding-right:2%; background:url('/hsidc/gmi/bus/blue_arrow.png') no-repeat right center; }
 .process_box ol.list01 li:last-child { padding-right:0; }
 .process_box ol.list01 li.bg_no {background-image:none;  }
 .process_box ol.list01 li span{display:block; height:78px; padding:17px 0 0; background-color:#7cb5f5; text-align:center; color:#fff;}
 .process_box ol.list01 li span.bg_red {background-color:#eba5b5; }

 .process_box ol.list02 li{  width:33.3%; float:right; margin:0 0 10px 0px; padding-left:2%; background:url('/hsidc/gmi/bus/red_arrow2.png') no-repeat left center; }

 .process_box ol.list02 li:first-child { width:35.3%;  padding-right:0;}
 .process_box ol.list02 li:last-child { width:31.3%; padding-left:0; }
 .process_box ol.list02 li.bg_no {background-image:none;  }
 .process_box ol.list02 li span{display:block; height:78px; padding:17px 0 0; background-color:#eba5b5; text-align:center; color:#fff;}

 .process_box ol.list02 li span.bg_blue {background-color:#7cb5f5; }


 .process_box ol.list03 li{width:33.3%; float:left; margin:0 0 10px 0; padding-right:2%; background:url('/hsidc/gmi/bus/red_arrow.png') no-repeat right center; }
 .process_box ol.list03 li.bg_no {background-image:none;  }
 .process_box ol.list03 li span{display:block; height:78px; padding:17px 0 0; background-color:#eba5b5; text-align:center; color:#fff;}

 .process_box .navi { position:absolute; right:5%; bottom:5%; font-size:90%; text-align:right;}
 .process_box .navi li:first-child { background:url('/hsidc/gmi/bus/blue_bg.gif') no-repeat left center; padding-left:88px;}
 .process_box .navi li:last-child { background:url('/hsidc/gmi/bus/red_bg.gif') no-repeat left center;   padding-left:88px;}





 .process_box2 {margin:10px 0px 30px 0px; padding:40px 5% 30px; background-color:#f8f8f8; position:relative; }
 .process_box2 .clearfix{display:block;}

 .process_box2 .t_center { width:100%; height:28px; line-height:38px; margin:0px auto; text-align:center;  background:url('/hsidc/gmi/bus/blue_arrow_down.png') no-repeat right center; }
 .process_box2 .t_center.bg_no {background-image:none;  }
 .process_box2 .t_center span { margin-left:32%; }

 .process_box2 ol.list li{width:33.3%; float:left; margin:0 0 10px 0; padding-right:2%; background:url('/hsidc/gmi/bus/blue_arrow.png') no-repeat right center; }
 .process_box2 ol.list li:last-child {width:64.7%; padding-right:0; }
 .process_box2 ol.list li.bg_no {background-image:none;  }
 .process_box2 ol.list li span{display:block; height:108px; padding:20px 0 0; background-color:#7cb5f5; text-align:center; color:#fff;}
 .process_box2 ol.list li span.bg_red {background-color:#eba5b5; }





/* 서식다운로드(faq형식) */
.accor_list { border-top:0px solid #111; width:100%; margin:0px; padding:0px;  }
.accor_list>ul>li {margin-bottom:8px; border:1px solid #d4d4d4; background:url('/hsidc/gmi/bus/accor_open.png') no-repeat 98% center;}
.accor_list>ul>li>.tit>a {   font-size:100%; display:block; padding:10px 20px; line-height:30px; /*overflow:hidden; white-space:nowrap;*/ text-overflow:ellipsis; color:#111; transition:all .1s ease; }
.accor_list>ul>li>.tit>a span { color:#e66e00;}
.accor_list>ul>li.select { border-top:1px solid #111; background:#444 url('/hsidc/gmi/bus/accor_close.png') no-repeat 98% 20px; }
.accor_list>ul>li.select>.tit>a { padding:10px 20px; color:#fff; }
.accor_list>ul>li.select>.tit>a span { color:yellow;  }
.accor_list>ul>li .con { display:none; padding:2% 3%; background:#fff;  font-size:95%;}
.accor_list>ul>li .con a { display:inline-block; margin-right:10px; padding-right:20px; background:url('/hsidc/gmi/icon/hwp.gif') no-repeat right 5px;  }
.accor_list>ul>li .con table { margin:0px;} 
.accor_list>ul>li.nodata  { background:0px; }
.faq_l_con {float:left; width:49%; }
.faq_l_con:after {content:""; display:block; clear:both;}
.faq_r_con { float:right; width:49%;}
.faq_r_con:after {content:""; display:block; clear:both;}




/* 사이트맵 */
	.sitemap_w { position:relative; width:100%; margin:0; }
		.sitemap_w .sitemap_box { clear:both; position:relative; float:left; width:100%; margin:20px 0 40px 0; background:url('/hsidc/gmi/bus/sitemap_line.gif') repeat-x left top; }	
		.sitemap_box h3 { width:218px; border-top:3px solid #4a4f5e; padding-bottom:18px; }
		.sitemap_box h3 a { display:inline-block; margin:0px 20px 0px 2px; padding:22px 0px 0px 10px; color:#111;  font-size:140%; line-height:34px; letter-spacing:-2px; }
		.sitemap_box h3 a:hover { text-decoration:none; }
		.sitemap_box .map2m { clear:both; position:relative; float:left; width:97.8%; padding:0 0% 22px 2%; background:#f9f9f9; border:1px solid #e0e0e0; border-radius:3px; }
		.sitemap_box .map2m > li { position:relative; float:left; width:33%; padding:0px 0.5%; line-height:22px; }
		.sitemap_box .map2m > li > a { display:block; margin:28px 30px 0 0; padding-left:12px; background:url('/hsidc/gmi/cni/blt_blue.gif') no-repeat left 11px; color:#0061a2; font-size:105%; }
		.sitemap_box .map2m > li > .map3m { position:relative; padding:10px 0 0 12px; }
		.sitemap_box .map2m > li > .map3m > li { }
		.sitemap_box .map2m > li > .map3m > li > a {  line-height:30px; display:inline-block; padding-left:10px; background:url('/hsidc/gmi/cni/blt03.gif') no-repeat left 12px; color:#424242; font-size:95%; }
		/*
		.sitemap_box .map2m > li > .map3m > li > .map4m { position:relative; margin:5px 32px 15px 0; padding:12px 0; background:#fff; border:1px solid #e0e0e0; }
		.sitemap_box .map2m > li > .map3m > li > .map4m > li { padding:0 17px; line-height:20px; }
		.sitemap_box .map2m > li > .map3m > li > .map4m > li > a { display:inline-block; margin:3px 0; padding-left:11px; background:url("/hsidc/gmi/cni/blt04.png") no-repeat left 7px; color:#626262; font-size:90%; }
		*/


/***** board *****/
.board { clear:both; margin:0px;  padding:0px;  width:100%; font-size:16px;}

.board:after { content:""; display:block; float:none; clear:both;}
.board img { vertical-align:middle;}
.board caption { font-size:0; line-height:0; text-indent:-9999px; }


.board_paging {margin-top:40px; overflow: hidden; position: relative; text-align: center; width: 100%;}
.paginate_wrap{position:relative;z-index:0;width:100%;line-height:18px;text-align:center}
.paginate{display:inline-block;margin:20px 0px 0px 0px;text-align:center;}
.paginate a,
.paginate strong,
.paginate span{float:left;display:inline-block;width:48px;height:48px;margin:0 0 0 -1px;line-height:48px;border:1px solid #d9d9d9; letter-spacing:-1px;text-align:center;vertical-align:top;}
.paginate strong{background-color:#606976;color:#fff;}
.paginate a.pg_num{background-color: #fff}
.paginate a:hover{background-color:#606976;color:#fff;}
.paginate .first{background:#fff url('/hsidc/gmi/cni/btn_pg.gif') no-repeat 0px 0px; font-size:0 ;line-height:0; text-indent:-9999px;}
.paginate .last {background:#fff url('/hsidc/gmi/cni/btn_pg.gif') no-repeat -138px 0px; font-size:0 ;line-height:0; text-indent:-9999px;}

.paginate .prev{background:#fff url('/hsidc/gmi/cni/btn_pg.gif') no-repeat -46px 0px; font-size:0 ;line-height:0; text-indent:-9999px;}
.paginate .next{background:#fff url('/hsidc/gmi/cni/btn_pg.gif') no-repeat -92px 0px; font-size:0 ;line-height:0; text-indent:-9999px;}
.paginate span.pre{background:url('/hsidc/gmi/cni/btn_pg.gif') no-repeat -46px 0px; font-size:0 ;line-height:0; text-indent:-9999px;}
.paginate span.next{background:url('/hsidc/gmi/cni/btn_pg.gif') no-repeat -92px 0px; font-size:0 ;line-height:0; text-indent:-9999px;}
.paginate .first *,
.paginate .last *,
.paginate .prev *,
.paginate .next *{font-size:0;line-height:0;}
.paginate .first:hover,
.paginate .last:hover,
.paginate .prev:hover,
.paginate .next:hover{background-color:#fff;}
.paginate a span,
.paginate .first span,
.paginate .last span,
.paginate .pre span,
.paginate .prev span,
.paginate .next span,
.paginate .pre_end span,
.paginate .next_end span{border:none;}

.paginate strong.m_pg{padding:0 7px 0 20px;width:auto;height:auto;color:#e73444;font-weight:bold;background:none;border:none;}
.paginate a.m_pg_num{padding:0 20px 0 0px;width:auto;height:auto;color:#000;background:none;border:none;}


.paginate_wrap.pc,
.pc{display:block;}
.paginate_wrap.mo,
.mo{display:none;}


/******************************* 게시판 상단정보 **************************************/
.boardtop { margin:20px 0 10px 0; padding:0px; width:100%; overflow:hidden;}


/******************************* 페이지수 **************************************/
.page_num {margin:0px; padding:0px; float:left; width:200px;}
.page_num span { color:#ca4406; font-weight:bold; margin:0px 5px; padding:0px; line-height:35px; }


/******************************* 검색 **************************************/
.board_search { margin:0px; padding:0px; overflow:hidden; width:auto; float:right; text-align:right;  }
.board_search::after {clear: both; content: ""; display: block;}
.board_search fieldset{ border:0; margin:0; padding:0; clear:both;}
.board_search fieldset:after { content:""; display:block; float:none; clear:both;}
.board_search fieldset *{ vertical-align:middle;}
.board_search legend { position:absolute; width:0; height:0; overflow:hidden; visibility:hidden;}
.board_search select {margin-right:2px; font-size:100%; width:110px; }
.board_search .inputText { width:300px; font-size:100%; }


/******************************* 리스트 **************************************/

/* 리스트 */
.board_list{ margin:0px 0px 60px 0px; border:0; border-collapse:collapse; width:100%; border-top:2px solid #333237;}
.board_list thead th { padding:15px 10px; white-space:nowrap; text-align:center; border:none; background:#f9fafb; border-left:1px solid #cccccc;  border-bottom:1px solid #969696; font-size:16px; font-weight:600; }
.board_list thead th:last-child  {border-right:1px solid #cccccc;}
.board_list tbody th,
.board_list tbody td {margin:0px; padding:15px 7px; white-space:normal; border-bottom:1px solid #cccccc; text-align:center; line-height:normal; font-weight:normal; letter-spacing:-1px;}
.board_list tbody th { letter-spacing:-0.5px; border-left:none;}
.board_list tbody td.subject { text-align:left; padding:15px 15px; margin:0px; white-space:normal;  }
.board_list tbody td.subject a { float:left;}
.board_list tbody td img {margin:-3px 0 0 7px; vertical-align:middle; padding:0; line-height:0; font-size:0;}
.board_list tbody td img.lock {margin:-1px 5px 0 0px;}
.board_list tbody td span {display:block; width:57px; margin:0 auto; letter-spacing:-2px;}


/* 게시판 */
.board_list .num {width:70px;}
.board_list .subject {width:auto;}
.board_list .file {width:90px;}
.board_list .writer {width:110px;}
.board_list .date {width:120px;}
.board_list .counter {width:90px;}
.board_list .answer {width:90px;}


/******************************* 상세페이지 **************************************/

.board_view {display:block; width:100%; margin:20px 0px 0px 0px; padding:0;}
.board_info {display:table; width:100%; padding:15px 20px 15px 20px; background: #f9fafb; border-top:2px solid #000; border-bottom:1px solid #969696; border-left:1px solid #969696; border-right:1px solid #969696;}
.board_info h4 { margin:0px auto; width:100%; padding:0; color:#333333; font-size:140%;  line-height:130%; text-align: center; word-break: keep-all; background:none; font-weight:600; }
.board_info h4:after {background:none;}
.board_info h4 span {color:#1953aa; border:1px solid #1953aa; vertical-align: middle;   border-radius:5px; font-size:70%; font-weight:500; padding:5px 8px 3px 8px; margin-right:10px;  letter-spacing:-1px; }

.board_date dl { width: 100%; margin: 0; padding: 0; overflow: hidden;}
.board_date dl dt {width:15%; display:inline; float:left; margin:0px; padding:15px 0px; font-weight:600; text-align:center; border-bottom:1px solid #d8d8d8;}
.board_date dl dd {width:85%; display: inline-block; float:left; margin:0; padding:15px 0px;border-bottom:1px solid #d8d8d8; overflow:hidden; white-space:nowrap;}
.board_date dl dd span {float:left; font-size:90%; width:57px !important; height:24px; padding:0; margin-right:5px; letter-spacing:-2px; text-align:center; line-height:140%;}
.board_date dl dd a{float:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.board_date dl dd img {vertical-align:middle !important; margin-right:5px;}
.board_date dl dd a.btn { padding:0px 7px; margin:0px; border-radius:3px; display:inline-block; }

.board_date dl dt:nth-child(1) {width:15%;}
.board_date dl dd:nth-child(2) {width:35%;}
.board_date dl dt:nth-child(3) {width:15%;}
.board_date dl dd:nth-child(4) {width:35%;}


.substance {display:block; width:100%; padding:60px 20px 60px; /*border-bottom:1px solid #b3b3b3;*/ word-break: keep-all;}
.substance img { margin:0px auto 20px auto; text-align:center; display:block; }



/******************************* 입주업체 현황 **************************************/
.company_list dl { border: 1px solid #dadada; min-height: 120px;  padding:30px 10px 20px 10px;   position: relative; margin:-1px 0 0 0;}
.company_list dl:first-child { margin-top:0px;}
.company_list dl::after { clear: both;   content: "";   display: block;}
.company_list dl:last-child {}
.company_list dl dt { float: left;   padding-left:390px;    padding-top:7px; width:83%; font-size:140%;}
.company_list dl dt span {display:inline; font-size:75% !important; color:#999; padding-left:10px;}

.company_list dl:hover { background: #fafafa;}
.company_list dl dd .company_thm { background:#fff; overflow: hidden; position: absolute;top:30px; left:30px;  width:340px; height:227px; margin:0px; padding:0px; border:1px solid #dadada; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);}
.company_list dl dd .company_thm * { margin: 0; padding: 0;}
.company_list dl dd .company_thm.noimg { background:url('/hsidc/gmi/bus/noimg.jpg') no-repeat left top; display:block; width:340px; height:227px; }
.company_list dl dd .company_thm img {   background:none; width:auto; text-align:center; margin:0 auto;}
 
.company_list dl dd {float: right; padding:20px 0px 10px 390px; min-height:200px; width:100%;}  
.company_list dl dd p { font-size:95%; padding:3px 0px; color:#000;  }
.company_list dl dd p span {text-align:left; display: block; width:83px; float:left; color:#444; background:url('/hsidc/gmi/bus/program_list_bar.png') no-repeat right 10px; padding-right:10px; margin-right:10px}
.company_list dl dd p.cont {color:#585858;  font-weight:500; padding:30px 20px 20px 0px; padding-top:10px;  font-size:95%; line-height:140%; word-break: keep-all; }  




/******************************* 이전글 다음글 **************************************/ 
.board_bottom {margin:0px; padding:0px; width:100%; overflow:hidden; }
.board_bottom ul {margin:0px; padding:0px;  border:1px solid #ccc; overflow:hidden;  }
.board_bottom ul li {margin:0px; padding:10px 10px 20px 0px; width:50%; color:#716863; line-height:26px; list-style:none; } 
.board_bottom ul li.board-item-previous {float:left; text-align:left; background:url('/hsidc/gmi/cni/board-item-previous.png') no-repeat 5% 50%;  padding:20px 10px 20px 60px; width:50%; border-right:1px solid #ccc;}
.board_bottom ul li.board-item-next {float:right; text-align:right; background:url('/hsidc/gmi/cni/board-item-next.png') no-repeat 95% 50%; padding:20px 60px 20px 10px; width:50%;}
.board_bottom ul li span {margin:0px; padding:0px; float:left; width:100%; color:#666; } 
.board_bottom ul li span.list-item {margin:0px; padding:0px; float:left; display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:100%;}
.board_bottom ul li span.list-item a { display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:100%;  }
.board_bottom ul li:hover{background-color:#f5f5f5;}




/******************************* 글쓰기 **************************************/
.board_write {width:100%; margin:0px 0px 10px 0px; border-top:1px solid #434343 ;border-bottom:1px solid #ccc; border-collapse:collapse; background:#fff; }
.board_write th,
.board_write td {padding:15px 10px; border-left:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; /*word-break:keep-all;*/ text-align:left;  }
.board_write th:first-child {border-left:none !important;}
.board_write th {background-color:#f9f9f9; text-align:center; padding:15px 0px;}
.board_write tbody th{ border-left:none;}
.board_write tbody th { width:23%;} 
.board_write tbody td { width:77%;}
.board_write tr:first-child th, 
.board_write tr:first-child td{border-top:none;} 
.board_write tbody td.content { padding:15px; overflow:hidden; background:none;  margin:0;}
.board_write td label {margin-right:10px;}



/* Button  */
.btn_wrap {display:block; position:relative; width:100%; margin:0; padding:0; text-align:center;}
.btn_wrap:after {content:''; display:block; clear:both;}
.btn_wrap .inner {display:table; position:relative; margin:0 auto; padding:0;}
.btn_wrap .fr {float:right; display:table; position:relative;}
.btn_wrap .fl {float:left; display:table; position:relative;}

.btn_wrap .ar {display:table; position:absolute; right:0; top:0;}
.btn_wrap .al {display:table; position:absolute; left:0; top:0;}
.btn_wrap .inner + .fr {float:inherit; position:absolute; right:0; top:0;}


.btn_wrap a,
.btn_wrap button[type="button"] {float:left;}
.btnLarge {display:inline-block; position:relative; min-width:100px; height:65px; margin:0; padding:0 35px;  border:none; line-height:63px; font-size:110%;  text-align:center}
.btnMid {display:inline-block; position:relative; min-width:90px; height:50px; margin:0; padding:0 30px; font-size:1em; border:none; line-height:48px; box-sizing:border-box; text-align:center}
.btnSmall {display:inline-block; position:relative; min-width:80px; height:35px; margin:0; padding:0 25px; font-size:85%; line-height:33px; box-sizing:border-box; border:none; text-align:center}
.btn_wrap .btnLarge + .btnLarge {margin-left:7px;}
.btn_wrap .btnMid + .btnMid {margin-left:6px;}
.btn_wrap .btnSmall + .btnSmall {margin-left:5px;}


button {line-height:1px; background: #fff; border:0px; margin:0px; padding:0px; width:auto; overflow:visible; cursor:pointer; }
button.txt_button{background:#363636; color:#fff; font-weight:600; height:35px; padding:0px 15px; vertical-align:top; line-height:25px; border-radius:3px;  font-size:1em;}

button.txt_button1 {background:#fd6407; border:1px solid #fd6408; color:#fff; height:50px; padding:0px 10px;  margin-left:5px;   font-size:1em; min-width:80px;}
button.txt_button2 {background:#4d4d4d; border:1px solid #4d4d4d; color:#fff; height:50px; padding:0px 10px;  margin-left:5px;   font-size:1em; min-width:80px;} 


button.txt_button3{background:#757575; color:#fff; font-weight:600; height:35px; padding:0 10px; line-height:35px; border-radius:3px;  font-size:1em;}
button.txt_button4{background:#f57280; color:#fff; font-weight:600; height:35px; padding:0 10px; line-height:35px; border-radius:3px;  font-size:1em;}

a.blue, button.blue{background-color:#007dc5; color:#fff;}
a.blue:hover, button.blue:hover, button.blue:focus{background-color:#006cab;}

a.purple, button.purple{background-color:#5771e0; color:#fff;}
a.purple:hover, button.purple:hover, button.purple:focus{background-color:#fff;  color:#5771e0; border:1px solid #5771e0;}

a.gray, button.gray{background-color:#999; color:#FFF;}
a.gray:hover, button.gray:hover, button.gray:focus{background-color:#808080;}

a.black, button.black{background-color:#4d4d4d; color:#fff; border:2px solid #4d4d4d;}
a.black:hover, button.black:hover, button.black:focus{background-color:#fff; color:#4d4d4d;}
 

a.white, button.white{background-color:#FFF; color:#000; font-weight:500; border:solid #4d4d4d 1px;}
a.white:hover, 
button.white:hover, 
white:focus{background-color:#4d4d4d; color:#fff; border:1px solid #4d4d4d;}


a.download, button.download {padding-right:50px; padding-left:40px; background:url('/hsidc/gmi/bus/download_ico.png'); background-repeat:no-repeat ;background-position:right 50%;}
a.download:hover, 
button.download:hover, 
download:focus {background-image:url('/hsidc/gmi/bus/download_ico_over.png'); }



.btn_wrap2 {display:block; position:relative; width:100%; margin:0; padding:0; text-align:center;}
.btn_wrap2:after {content:''; display:block; clear:both;}

 
 
 



/*****************1320이하******************************************/
@media all and (max-width:1320px){


	
.header_topCon {width:1000px; }
.gnb_area { width:1000px;}
.gnb > li  {margin-top:12px;}

.logo { top:22px;}
.logo img { width:241px; height:56px;}

.footer_con {max-width:1000px;}



/***** container *****/
.content_area {max-width:1000px; } 





}

/*****************1040이하******************************************/
@media all and (max-width:1040px){


 
#main_container { background-size:100% auto; margin-top:100px;}


#container {margin:100px auto 0px auto; }


/***** common *****/	

.content_area {max-width:96%;  }


#skip-go {display:none;}


#header { height:100px; }
.header_top { display:none;} 

.gnb_area { max-width:100%; border-top:5px solid #0e71b8;} 

/***** header *****/
.logo {left:50%; margin-left:-103px; }
.logo img { width:211px; height:49px;}

.gnb {display:none;}



/***** mobileheader *****/
.all_menu2 {display:none; position:fixed; left:-270px; top:0px; background:url('/hsidc/gmi/cni/bg_black.png') repeat left center; width:100%; height:100%; z-index:1001; overflow-y:auto;}
#scroller div {position:absolute; top:0px; left:0px; width:260px; background:#fff; z-index:1002;}
.all_menu2 > div {height:1300px;/* overflow-y:auto; */}
.all_menu2 a {}
.m-global_site {margin:0px auto; width:100%; /*background:#000;*/ padding:28px 30px 26px 30px; text-align:center; }


.m_menu { background:#0c538a; height:62px; padding:0px 3%; margin:0px auto; width:100%;} 
.m_menu a { float:left; width:31%; display:block; color:#fff; text-align:center; line-height:62px; font-size:100%; letter-spacing:-1px;}

.m_menu a span {  padding:5px 2px; margin:0px 0.5%; }
.m_menu a span:hover, 
.m_menu a span:focus {background:#0f3b5d;}


.all_menu2 .all_menu2_con a {display:block; text-decoration:none;}
.all_menu2 .all_menu2_con > li {border-bottom:1px solid #ddd;}
.all_menu2 .all_menu2_con > li > a {padding:9px 5px 9px 15px; font-size:100%;   background:#fff url('/hsidc/gmi/cni/all_menu_off.png') no-repeat 225px center; background-size:15px; font-weight:600;}
.all_menu2 .all_menu2_con > li > a.on {background:#fff url('/hsidc/gmi/cni/all_menu_on.png') no-repeat 225px center; background-size:15px; color:#ff6c00;  }

.all_menu2 .menu_sub {border-top:1px solid #ddd; padding:10px 0px;}
.all_menu2 .menu_sub li {background:#f3f3f3; margin:0px 10px; width:240px; }
.all_menu2 .menu_sub > li > a {padding:9px 5px 9px 15px; margin:0px; width:240px; font-weight:500; border-bottom:1px solid #fff; background:url('/hsidc/gmi/cni/all_menu_off2.png') no-repeat 205px center; background-size:11px;}
.all_menu2 .menu_sub > li a.last { border-bottom:0px solid #f7f6ff;}



.all_menu2 .menu_sub > li > a.on,
.all_menu2 .menu_sub > li > a:hover, 
.all_menu2 .menu_sub > li > a:focus {color:#fff;  background:#ff6c00 url('/hsidc/gmi/cni/all_menu_on2.png') no-repeat 205px center; background-size:11px;}
.all_menu2 .menu_sub > li.no-menu > a {background:none;}
.all_menu2 .menu_sub > li.no-menu > a.on {background:none;}
.all_menu2 .menu_sub li ul li {background:#383838;}
.all_menu2 .menu_sub li ul li  a {padding:7px 5px 8px 40px;  color:#000; border-bottom:1px solid #343434;}


.btn_nav {display:inline-block; position:absolute; top:0px; left:0px; width:54px;}
.btn_nav1 {display:none;}
/* .btn_nav1.close, .btn_nav1.open {display:none;} */
.btn_nav2 {display:inline-block;  /* z-index:100; */}
.btn_nav2 img {width:100%;}
.btn_nav2.close {position:absolute; left:auto; right:-69px; width:69px; top:0px;}
.btn_nav2.open {position:absolute; top:24px; left:2%; width:50px; }
.btn_nav2.home {position:absolute; top:24px; right:2%; width:50px; }



/* footer */
.footer_con {max-width:94%;}

.footer_con_box { padding-top:75px;}
.linkSelect {  top:-55px; left:0px; width:100%; }
.linkSelect > dl > dd,
.linkSelect > dl > dd > div { width:100%;}
.linkSelect .open,
.linkSelect .close { background-position:97% center;}

	


/* 업무안내*/
.work_info dl:first-child,
.work_info dl:nth-child(2n),
.work_info dl:nth-child(3n),
.work_info dl:last-child { background-position:94% 20px; background-size:83px 79px;}
.work_info dt { width:100%; font-size:120%;}
.work_info dd { width:100%; padding:0px;}



/* 찾아오시는길 */
.info_map { width:100%; float:left; }
.info_text { width:100%;  background:#f9f9f9; border:1px solid #ddd; border-top:0px; padding:20px 0px 0px 30px;}
.info_text dl {   float:left; }
.info_text dl:first-child { width:44%; }
.info_text dl:nth-child(2n),
.info_text dl:last-child { width:28%;}


/* 산업단지 현황_ 일반현황*/
.list_num_d li {  width:50%; }



/* 서식다운로드(faq형식) */
.faq_l_con {float:left; width:100%; }
.faq_r_con { float:right; width:100%;}



/* 사이트맵 */
.sitemap_box .map2m { padding:0 4% 22px 4%; }
.sitemap_box .map2m > li {width: 50%; }




/* 게시판 리스트 */
.board_list th.subject {border-right:1px solid #ccc;}



.board_list th.sur_r {border-right:1px solid #ccc;}
.board_list .sur_s {display:none;}
.board_list .sur_e {display:none;}
.board_list .state {display:none;}




.substance img,
.substance_bottom img { max-width:100%; }
.lecture_device img { max-width:100%; }



.paginate_wrap.pc,
.pc{display:none;}
.paginate_wrap.mo,
.mo{display:block;}



 
}

/*****************800px******************************************/
@media all and (max-width:800px){


/* footer */
.addr address {text-align:center; width:100%; }
.tel {margin-left:0px; width:100%; text-align:center;}
.copyright {width:100%; text-align:center;}


#main_container {}

/* 찾아오시는길 */

.info_text { width:100%;  background:#efefef; border:1px solid #ddd; border-top:0px; padding:10px 0px 0px 20px;}
.info_text dl {   float:left; }
.info_text dl:first-child,
.info_text dl:nth-child(2n),
.info_text dl:last-child { width:100%;}


/* 산업단지 현황_사업개요 */
.box_list {text-align:center;}
/*.box_list li { display:inline-block; float:none; width:180px; margin:0 5px 10px; vertical-align:top;}*/
.box_list li { float:left; width:32%; margin:0px 5px 10px 0px; vertical-align:top;}






/******************************* 검색 **************************************/
.page_num {width:100%; }
.board_search {float:left; text-align:left; width:100%;}
.board_search .inputText { width:66%;}


.board_info .board_date { margin:0px;  }

.substance {padding:30px 20px 30px; }



/* 입주업체 현황 */
.company_list dl {   padding:20px;  margin-bottom:10px;}
.company_list dl dt { padding-left:0px;  padding-top:0px; margin-bottom:10px; width:100%; }
.company_list dl dd .company_thm { position: relative;  top:0px; left:0px;  width:100%; height: auto; margin-bottom:10px; text-align:center;}
.company_list dl dd {float:none; padding:20px 0px 10px 0px;  width:100%; }  


 }

/*****************650이하******************************************/
@media all and (max-width:650px){
	


	
}

/*****************640이하******************************************/
@media all and (max-width:640px){
	
#main_container { }	




.logo {left:50%; margin-left:-103px; }
.utilLink > a {font-size:80%; padding-right:8px; margin-right:8px;}


/* 주소 */	
.addr { font-size:90%;}

/* 산업단지 현황_ 일반현황*/
.list_num_d { padding:10px 15px; font-size:90%; }
.list_num_d li { line-height:34px;}



dl.industry_detail dt { float: left; padding-left:0px; }
dl.industry_detail dd {float: left; padding-left:0px; }
 
dl.industry_detail dd.industryimg { position:inherit; left:0px; }





.board_info h4 { font-size:110%; }

.board_bottom ul li {margin:0px; padding:10px; width:100%; } 
.board_bottom ul li.board-item-previous { padding:0px; width:100%; background:none; border-bottom:1px solid #ccc; border-right:none;}
.board_bottom ul li.board-item-next {float:left; text-align:left; background:none; padding:0px; width:100%;}
.board_bottom ul li span { margin-right:10px;  float:left; text-align:center; width:22%; display:table-cell; line-height:33px; background:#f2f2f2; padding:10px;  }
 
.board_bottom ul li span.list-item { float:left; display: block;  background:none; display:table-cell; width:70%; text-align:left; padding-top:10px; line-height:33px; }
.board_bottom ul li span.list-item a {  overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:100%; display:block; padding-top:5px; }
.board_bottom ul li:hover{background-color:#f5f5f5;}


.btnMid { font-size:90%; }
.btn_wrap .ar > .btnLarge:first-child, .btn_wrap .inner + .fr .btnLarge:first-child  {margin-left:3px;}
.btn_wrap .al > .btnLarge:last-child {margin-right:3px;}




/* 산업단지 현황_사업개요 */
.box_list li {  float:left;  width:100%; height:150px; margin:0 0 10px 0px; text-align:left;}

.box_list li span.tit {  margin-top:40px; padding:0px 0px 0px 120px;} 
.box_list li span.text { margin-top:5px; padding:0px 0px 0px 120px;}

.box_list li.bg1,
.box_list li.bg2,
.box_list li.bg3,
.box_list li.bg4,
.box_list li.bg5{background-position:5% center;}






/* 찾아오시는길 */
.info_text dl dt {  font-size:100%; }
.info_text dl dd {  font-size:90%; }


/* 입주안내 */
 .process_box,
 .process_box2 { font-size:80%; line-height:20px; letter-spacing:-1.5px;}
 .process_box .navi li:first-child,
 .process_box .navi li:last-child {background-size:38px 14px;  padding-left:42px;}




/* 사이트맵 */
.sitemap_box h3 a { font-size:110%; }
.sitemap_box .map2m { padding:0 2% 22px 4%;} 
.sitemap_box .map2m > li {width: 100%; }
.sitemap_box .map2m > li > a {font-size:95%; }


/* 게시판 리스트*/
.board_list .writer,
.board_list .file,
.board_list .date, 
.board_list .counter {display:none !important;}


}
 
/*****************600이하******************************************/
@media all and (max-width:600px){
	
.board_search .inputText { width:62%;} 

}



@media all and (max-width:520px){

.board_search .inputText { width:57%;} 

}



@media all and (max-width:480px){

.logo {left:56%; top:30px; margin-left:-103px; }
.logo img { width:150px; height:35px;}

.board_search .inputText { width:42%;}


.list_num_d li {  width:50%; }

dl.industry_detail dt {  text-align:center;  font-size:105%; }
dl.industry_detail dd {  text-align:center;  }
dl.industry_detail dt span { display:block;}
dl.industry_detail dd.industryimg {  text-align:center; width:100%; }

}
 
