@charset "utf-8";




/* 메인비주얼 */
.visual_con {  width:100%; height:450px;   float:left; overflow:hidden; background:url('/hsidc/gmi/niam/main_bg.jpg') no-repeat top center;  }

.main_visual {width:1250px; margin:0px auto; padding:0px;  position:relative; }
.main_visual img {  width:495px; height:79px; position:absolute; right:297px; top:153px;  }



/*(빠른서비스, 찾아오시는길)*/
.main_left {  float:left; width:308px; }


/* 빠른서비스 */
.minwon { width:308px; height:170px; background:url('/hsidc/gmi/niam/minwon_bg.jpg') no-repeat center top; padding:28px 21px 0px 21px; }
.minwon h3 { color:#fff; text-align:center; font-size:150%; margin-bottom:14px; } 
.minwon li { width:130px; float:left; margin-bottom:5px;}
.minwon li a {   border:1px solid #a5d1e9; display:block; text-align:center; line-height:38px; color:#fff;  }
.minwon li a:hover {background:#003d62;  text-decoration:none; animation:rotateEx2 .8s ease-in-out; -webkit-animation:rotateEx2 .8s ease-in-out; }
.minwon li:first-child,
.minwon li:nth-child(3) { margin-right:6px; }


/* 찾아오시는길 */
.main_location { width:308px; height:170px; margin-top:10px; border:1px solid #d3d3d3;  background:url('/hsidc/gmi/niam/location_bg.jpg') no-repeat center top;}
.main_location h3 { color:#324b5f; text-align:center; font-size:150%; padding:66px 0px 17px 0px; background:url('/hsidc/gmi/niam/loca_h3_blt.png') no-repeat center 20px; } 
.main_location ul { margin:0px auto; text-align:center; /*width:249px;*/ }
.main_location li { width:122px; background:#324b5f;  margin:0px auto; text-align:center;} /*1개*/
/*2개
.main_location li { width:122px; background:#324b5f;  margin:0px auto; float:left; text-align:center;}
.main_location li:first-child { margin-right:5px;}*/
.main_location li a {   font-size:100%; display:block; text-align:center; line-height:38px; color:#fff; }
.main_location li a:hover {background:#111; text-decoration:none; animation:rotateEx2 .8s ease-in-out; -webkit-animation:rotateEx2 .8s ease-in-out;}

@keyframes rotateEx2 {
	0% { 
		transform: rotateX(0deg);
		-webkit-transform:rotateX(0deg); 
	}
	50% { 
		transform:rotateX(180deg); 
		-webkit-transform:rotateX(180deg);
	}
	100% {
		transform:rotateX(360deg); 
		-webkit-transform: rotateX(360deg);
	}
}





/* 공지사항 */
.m_press {padding:37px 0px 0px 0px; margin:0px 43px 0px 44px; float:left; width:546px; position:relative; }
.m_press h3 {width:100%;font-size:140%;font-weight:600;background:url('/hsidc/gmi/niam/notice_bg.gif') no-repeat left bottom; color:#035d90;padding-bottom: 15px;letter-spacing:-1px;margin-bottom: 22px;}

.m_press dl { margin:0px 0 13px 0; padding:0px 6px 14px 6px; float:none; width:100%; /*border-bottom:1px solid #efefef; */}
.m_press dt { margin:0px 0px 6px 0px; padding:0px; display:block; width:100%; overflow:hidden; text-overflow:ellipsis;}
.m_press dt a {color:#000; font-size:120%; font-weight:500;  letter-spacing:-1px; }
.m_press dt a img {margin:0px 0 0 5px; padding:0px; vertical-align:middle;}
.m_press dd {margin:0px; padding:0px; text-align:left; opacity:0.6; line-height:140%; width:100%; overflow:hidden; }
.m_press dd span {font-weight:bold;} 
 
 
.m_press ul { margin:0px; padding:0px 6px; width:100%;} 
.m_press ul li{position:relative; overflow:hidden; margin-bottom:5px; padding-left:12px; background:url('/hsidc/gmi/niam/notice_blt.gif') no-repeat left 45%;}
.m_press ul li:after{display:block; content:""; clear:both;}
.m_press ul li.last{margin-bottom:0}
.m_press ul li a{float:left; display:block; width:70%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.m_press ul li a img{margin:0px 0 0 5px; vertical-align:middle;}
.m_press ul li span{float:right; opacity:0.6; letter-spacing:-1px;}

.m_press .more {position:absolute; right:6px; top:42px;  height:12px; width:49px; display:block; text-align:center; vertical-align:middle; padding-top:0px; } 



/* 팝업존 */
.popup { float:right; width:309px; height:350px; margin:0px;padding:0px; position:relative;} 
.popup .pop_list li{display:none;}
.popup .pop_list li:first-child{display:block;}

.popup .pop_list {margin:0px; border:1px solid #dbdbdb;}
.popup .pop_list {width:100%; margin:0px;}
.popup .pop_list li a img{ width:100%; height:350px; }


.popup .pop_ctrl{position:absolute; right:73px; top:20px; width:50px; height:17px; padding:0px; text-align:center; }
.popup .pop_ctrl button,
.popup .pop_ctrl_roll button{display:block; float:left; margin:0; padding:0; font-size:0; line-height:0; border:0;}

.popup .pop_ctrl_roll .pop_prev, 
.popup .pop_ctrl_roll .pop_next { position:absolute; width:9px; height:14px;  top:25px; }
.popup .pop_ctrl_roll .pop_prev { right:68px; background:url('/hsidc/gmi/niam/mvisual_prev.png') no-repeat left top;}
.popup .pop_ctrl_roll .pop_next { right:21px; background:url('/hsidc/gmi/niam/mvisual_next.png') no-repeat right top;  }

.popup .pop_ctrl_roll .pop_stop,
.popup .pop_ctrl_roll .pop_play {position:absolute;  width:9px; height:14px; top:25px; right:45px; }
.popup .pop_ctrl_roll .pop_stop {background:url('/hsidc/gmi/niam/mvisual_stop.png') no-repeat;}
.popup .pop_ctrl_roll .pop_play {background:url('/hsidc/gmi/niam/mvisual_play.png') no-repeat;}

.popup #popcount { position:absolute; color:#fff; font-size:110%; vertical-align:middle;  letter-spacing:-2px; font-weight:600; }


 

/*****************1320이하******************************************/
@media all and (max-width:1320px){


.main_left{ width:100%; margin-bottom:30px; }
.minwon { float:left; width:48.5%;  background-size:cover;}
.minwon li { width:49%;}

.main_location { float:right; margin-top:0px; width:48.5%;  background-size:cover;}
.main_location ul { margin:0px auto; text-align:center; /*width:80%;*/ }
.main_location li { /*width:49%;*/}

.m_press { width:64.8%; margin-left:0px;}



}



/*****************1040이하******************************************/
@media all and (max-width:1040px){


/* 메인비주얼 */
.visual_con { height:294px; background-size:auto 100%; margin-bottom:30px;}
.main_visual {width:100%; }
.main_visual img {  width:321px;  height:55px; right:27%; top:117px;  }




.main_left{ float:left; width:100%; margin:0px 0px 30px 0px; }
.minwon {float:left;/* width:49.5%; */background-size:cover;}
.minwon li { width:48%;}

.main_location {float:right;margin-top:0px;/* width:49.5%; */background-size:cover;}
.main_location ul { margin:0px auto; text-align:center; width:80%; }
.main_location li { /*width:48%;*/ }

.m_press {width: 48.5%;padding:0px;margin:0px;}
.m_press .more {top:12px;}

.popup { float:right; width:48.5%;}





}



/*****************800이하******************************************/
@media all and (max-width:800px){ 
 

/* 메인비주얼 */
.visual_con { height:265px; background-size:auto 100%; }
.main_visual {width:100%; }
.main_visual img { width:230px;  height:40px;  right:27%; top:117px;  }


.main_left{ width:100%;  }
.minwon { width:100%; margin-bottom:30px; }
.main_location { float:right; margin-top:0px; width:100%;  background-size:cover;}
.m_press { width:100%; margin-bottom:30px; }
.popup { width:100%; }



} 
 

/*****************640이하******************************************/
@media all and (max-width:640px){


/* 메인비주얼 */
.visual_con { height:189px; background-size:auto 100%; }
.main_visual {width:100%; }
.main_visual img { width:230px;  height:40px;  right:22%; top:67px;  }

.m_press dt a,
.minwon li a, 
.main_location li a { font-size:90%; } 
.m_press dd { font-size:90%; } 
.m_press ul li a{width:60%;}
.m_press ul li  {font-size:90%;}
.m_press ul li a {font-size:95%;}





/* 팝업존 */
.popup,
.popup .pop_list li a img{  height:auto; }

}



/*****************320이하******************************************/
@media all and (max-width:480px){



/* 메인비주얼 */
.visual_con { height:189px; background-size:auto 100%; }
.main_visual {width:100%; }
.main_visual img { width:230px;  height:40px;  right:12%; top:67px;  }

.m_press ul li a{width:50%;}


.minwon li a, 
.main_location li a { font-size:80%; } 


}
